site_name: stay-locator
repo_url: https://github.com/connorjoleary/stay-locator
site_url: https://connorjoleary.github.io/stay-locator
site_description: Test here
site_author: Connor O'Leary
edit_uri: edit/main/docs/
repo_name: connorjoleary/stay-locator
copyright: Maintained by <a href="https://connorjoleary.com">Florian</a>.

nav:
  - Home: index.md
  - Modules: modules.md
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          setup_commands:
            - import sys
            - sys.path.append('../')
theme:
  name: material
  feature:
    tabs: true
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: deep orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/connorjoleary/stay-locator
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/stay-locator

markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
